.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  display: flex;
  gap: 1;
}

.header__links-list {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0 0 0 18px;
  font-size: 18px;
}


.header__links-list-item.header__links-list-item_no-bullit {
  list-style-type: none;
}


.header__links-list-item {
  list-style: circle;
}


.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 129px;
  justify-self: center;
} 

.header__logo-image {
  display: block;
  width: 100%;
  height: auto;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 24px;
}

.address a {
  color: inherit;
  text-decoration: underline;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) center/cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title,  
.cover__description {
  position: relative;
  z-index: 1;
  color: #fff;
}

.cover__title {
  margin: 0;
  color: #fff;
  font-size: 100px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 20px;
  padding-right: 0;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 135px;
  color: #fff;
}

.cover__description-text {
  margin: 0;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
 margin: 0;
 padding: 180px 50px 0;
}

.lots__heading {
  margin: 0 0 27px;
  padding-left: 64px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.lots__card-list-item,
.card,
.card-link {
  width: auto;
}

.lots__card-list-item {
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;  
  color: inherit;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card__title, .card__text {
  position: relative;
  z-index: 1;
  color: #fff;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
}

.card__title {
  margin: 0 0 30px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card__text {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin-top: 120px;
  padding: 35px 50px 0;
}

.about__column {
  min-width: 0;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__title {
  margin: 101px 0 92px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 693px;
  font-size: 20px;
  line-height: 24px;
}

.about__text p  {
  margin: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 180px;
  padding: 1px 50px 0;
  align-items: start;
  margin-top: 180px;
}

.address p {
  max-width: 240px;
  margin: 0;
  font-size: 18px;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
} 

.footer__menu-list-item {
  margin: 0;
  padding: 0;
} 

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
  font-size: 18px;
} 

.footer__menu-link-active {
  text-decoration: none;
} 

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-list-item {
  margin: 0;
  padding: 0;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}

